$progress-height: 4px;
$header-height: $progress-height;

body {
  &.busy {
    cursor: progress;
    .progress {
      display: block;
    }
  }
  &.error {
    .progress {
      background-color: hsla(0, 0%, 80%, 1);
      & .indeterminate {
        background-color: hsla(0, 0%, 60%, 1);
        .line1, .line2 {
          animation-play-state: paused;
        }
      }
    }
  }
}

header {
  height: $header-height;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.progress {
  @extend .no-overflow;
  @extend .border-box;
  @extend .relative;
  display: none;
  width: 100%;
  height: $progress-height;

  & .indeterminate {
    background-color: rgb(109, 189, 255);

    .line1, .line2 {
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
    }

    .line1 {
      @include animation('indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite');
    }

    .line2 {
      @include animation('indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite');
    }
  }
}

.column {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
}

ul.list {
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex: 1;
}

.card {
  @extend .no-overflow;
  @extend .border-box;
  @extend .relative;
  @extend .block;

  background-color: rgba(80, 80, 80, 0.15);;
  margin: 10px;
  padding: 25px 15px;

  .media {
    min-height: 100px;
    display: block;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .25;

    &.render {
      display: block;
    }
  }
}

.tweet-container {
  @extend .border-box;
  @extend .clearfix;
  @extend .block;
  @extend .relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header, .text {
    @extend .border-box;
    @extend .block;
    @extend .relative;
    width: 100%;
  }

  .text {
    @extend .no-overflow;
    white-space: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 20px;
    background-color: hsla(210, 20%, 15%, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    margin-top: 15px;

    a {
      @extend .border-box;
      color: inherit;
    }
    .line {
      @extend .block;
      @extend .relative;
      white-space: nowrap;
      text-align: left;
      margin: 15px 0;

      &.inline {
        @extend .inline-block;
        @extend .relative;
        clear: none;
      }
      & > .word {
        @extend .relative;
        @extend .inline-block;
      }
    }
  }

  .header {
    display: flex;
    cursor: default;
    color: inherit;
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;

    .user-container {
      flex: 1;
      display: flex;
      align-items: center;

      .user-image {
        width: 48px;
        height: 48px;
        padding: 1px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        position: relative;
      }

      .user {
        display: inline-block;
        position: relative;
        margin-left: 10px;

        .username {
          display: block;
          font-weight: 500;
        }

        .screen-name {
          display: block;
          font-size: 12px;
        }
      }
    }

    .timestamp {
      font-weight: normal;
      font-size: 12px;
      line-height: inherit;
    }
  }

  a.header {
    cursor: auto;
  }
}
