$progress-height: 2px;
$header-height: $progress-height;

body {
  &.busy {
    cursor: progress;
    .progress {
      display: block;
    }
  }
  &.error {
    .progress {
      background-color: hsla(0, 0%, 80%, 1);
      & .indeterminate {
        background-color: hsla(0, 0%, 60%, 1);
        .line1, .line2 {
          animation-play-state: paused;
        }
      }
    }
  }
}

header {
  height: $header-height;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.progress {
  @extend .no-overflow;
  @extend .border-box;
  @extend .relative;
  display: none;
  width: 100%;
  height: $progress-height;

  & .indeterminate {
    background-color: rgb(109, 189, 255);

    .line1, .line2 {
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
    }

    .line1 {
      @include animation('indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite');
    }

    .line2 {
      @include animation('indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite');
    }
  }
}

.column {
  @extend .relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
}

ul.list {
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex: 1;
}

.card {
  @extend .no-overflow;
  @extend .border-box;
  @extend .relative;
  @extend .block;
  background-color: rgba(80, 80, 80, 0.15);
  margin: 10px;
  padding: 20px 0 0;

  &.disabled {
    .media, .tweet-container {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.tweet-container {
  @extend .border-box;
  @extend .clearfix;
  @extend .block;
  @extend .relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;


}

.header {
  display: flex;
  cursor: default;
  color: inherit;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  padding: 0 10px;

  .user-container {
    flex: 1;
    display: flex;
    align-items: center;

    .user-image {
      @extend .inline-block;
      @extend .relative;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .user {
      @extend .inline-block;
      @extend .relative;
      margin-left: 10px;

      .username {
        @extend .block;
        font-weight: 500;
      }

      .screen-name {
        display: block;
        font-size: 14px;
      }
    }
  }
}

a.header {
  cursor: auto;
}

.tweets {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.tweet {
  display: block;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  &.has-media {
    .text-container {
      min-height: 150px;
      background-color: rgba(0, 0, 0, .8);
      justify-content: center;
      padding: 30px;
    }
  }
}

.media {
  @extend .block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.timestamp {
  @extend .block;
  @extend .relative;
  font-weight: normal;
  font-size: 12px;
  line-height: inherit;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  padding: 0 10px;
  box-sizing: border-box;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.text-container {
  @extend .no-overflow;
  white-space: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 30px 20px;
  background-color: hsla(210, 20%, 15%, 1);
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  a {
    @extend .border-box;
    color: inherit;
  }

  .line {
    @extend .block;
    @extend .relative;
    white-space: nowrap;
    text-align: left;
    margin: 15px 0;

    &.inline {
      @extend .inline-block;
      @extend .relative;
      clear: none;
    }

    & > .word {
      @extend .relative;
      @extend .inline-block;
    }
  }
}
