@media screen and (max-width: $max-column-width) {
  ul.list {
    min-width: unset;
    max-width: none;
  }

  .card {
    margin: 0;
  }
}

.column-ruler {
  @extend .absolute;
  @extend .border-box;
  @extend .block;
  visibility: hidden;
  pointer-events: none;
  width: 100%;

  @for $i from 2 through 10 {
    @media screen and (min-width: $i * $min-column-width + 20) {
      width: 100% / $i;
    }
  }
}
