<!doctype html>
<html lang="en-US">
  <head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="handheldfriendly" content="true">
    <meta name="viewport"
          content="width=device-width"
          initial-scale="1.0"
          maximum-scale="1.0"
          user-scrollable="no">
    <link rel="stylesheet"
          type='text/css'
          href="/static/bin/p5.css">
    <script type='text/javascript' src='/static/bin/p5.js' async></script>
  </head>
  <body class="busy">
    <header>
      <div class="progress">
        <div class="indeterminate">
          <div class="line1"></div>
          <div class="line2"></div>
        </div>
      </div>
    </header>
    <section class="columns">
      <div class="column-group">
        <div class="column col1"></div>
        <div class="column col2"></div>
      </div>
      <div class="column-group">
        <div class="column col3"></div>
        <div class="column col4"></div>
      </div>
    </section>
  </body>
</html>
