<!doctype html>
<html lang="en-US">
  <head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="handheldfriendly" content="true">
    <meta name="viewport"
          content="width=device-width"
          initial-scale="1.0"
          maximum-scale="1.0"
          user-scrollable="no">
    <link rel="stylesheet"
          type='text/css'
          href="/static/bin/p5.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>
      WebFont.load({
        active: function() {
          var p5 = document.createElement('script');
          p5.setAttribute('type','text/javascript');
          p5.setAttribute('src','/static/bin/p5.js');
          document.head.appendChild(p5);
        },
        google: {
          families: ['Roboto:400,700:latin']
        }
      });
    </script>
  </head>
  <body class="busy">
    <header>
      <div class="progress">
        <div class="indeterminate">
          <div class="line1"></div>
          <div class="line2"></div>
        </div>
      </div>
    </header>
    <section class="column col-main">
      <div class="column col-group">
        <ul class="column col-1 list"></ul>
        <ul class="column col-2 list"></ul>
      </div>
      <div class="column col-group">
        <ul class="column col-3 list"></ul>
        <ul class="column col-4 list"></ul>
      </div>
    </section>
  </body>
</html>
