<!doctype html>
<html lang="en-US">
  <head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="handheldfriendly" content="true">
    <meta name="viewport"
          content="width=device-width"
          initial-scale="1.0"
          maximum-scale="1.0"
          user-scrollable="no">
    <link rel="stylesheet"
          type='text/css'
          href="/static/bin/p5.css">
    <script type='text/javascript' src='/static/bin/p5.js' async></script>
  </head>
  <body class="busy">
    <div id="list" class="list"></div>
    <div class="entry busy">
      <div class="side right">
        <div class="tweet">
          <div class="text">
            <div class="preloader">
              <span class="spinner"></span>
                <span class="label">
                  LOADING...
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="fork-me hide-mobile"
       href="https://github.com/logashoff/pusharray.com">
      <img src="/static/images/fork_me.png"
           alt="Fork me on GitHub"
           data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png">
    </a>
  </body>
</html>
