$progress-height: 4px;
$header-height: $progress-height;

body {
  &.busy {
    cursor: progress;
    .progress {
      display: block;
    }
  }
  &.error {
    .progress {
      background-color: hsla(0, 0%, 80%, 1);
      & .indeterminate {
        background-color: hsla(0, 0%, 60%, 1);
        .line1, .line2 {
          animation-play-state: paused;
        }
      }
    }
  }
}

header {
  height: $header-height;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.progress {
  @extend .no-overflow;
  @extend .border-box;
  @extend .relative;
  display: none;
  width: 100%;
  height: $progress-height;
  background-color: hsl(185, 100%, 50%);

  & .indeterminate {
    background-color: hsla(55, 100%, 50%, 1);

    .line1, .line2 {
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
    }

    .line1 {
      @include animation('indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite');
    }

    .line2 {
      @include animation('indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite');
    }
  }
}

.column {
  display: flex;
  position: relative;
  flex: 1;
  align-items: stretch;
  flex-direction: row;
}

ul.list {
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  margin: 0;

  li.entry {
    @extend .no-overflow;
    @extend .border-box;
    @extend .relative;
    @extend .block;
    border-left: 1px solid;
    flex: 1;

    .background-overlay {
      background-position: 50%;
      background-clip: border-box;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: .25;
    }
  }
}

.tweet {
  @extend .border-box;
  @extend .clearfix;
  @extend .block;
  @extend .relative;

  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text, .footer {
    @extend .border-box;
    @extend .block;
    @extend .relative;
    width: 100%;
    min-width: 325px;
    max-width: 520px;
  }
  .text {
    @extend .clearfix;
    @extend .relative;
    @extend .block;
    @extend .no-overflow;
    font-weight: 700;
    white-space: normal;
    text-transform: uppercase;
    padding: 0 20px;
    a {
      @extend .border-box;
      color: inherit;
    }
    .line {
      @extend .block;
      @extend .relative;
      white-space: nowrap;
      text-align: left;
      margin: 10px 0;

      &.inline {
        @extend .inline-block;
        @extend .relative;
        clear: none;
      }
      & > .word {
        @extend .relative;
        @extend .inline-block;
        text-shadow: 1px 1px #000000;
        &:not(:last-child) {
          margin-right: .25em;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    color: inherit;
    padding: 10px 20px 0;
    .card, .timestamp {
      z-index: 1;
    }
    .card {
      display: flex;
      align-items: center;
      cursor: pointer;
      .avatar {
        @extend .no-overflow;
        @extend .inline-block;
        @extend .relative;
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1px;
      }
      .user {
        @extend .inline-block;
        @extend .relative;
        margin-left: 10px;
        .username, .screenname {
          text-overflow: ellipsis;
        }
        .username {
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
        }
        .screenname {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .timestamp {
      @extend .inline-block;
      font-size: 14px;
      text-align: right;
      font-weight: bold;
      flex: 1;
    }
  }
}
