$total-width: 100%; // Affects grid system

body.busy {
  cursor: progress;
  .entry.busy {
    display: block;
  }
}

.entry.busy {
  display: none;
}

.preloader {
  z-index: 9999;
  display: block;
  position: relative;
  padding: 5px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  & > * {
    vertical-align: middle;
  }
  .spinner {
    @include originTransform(50%, 50%);
    @include animation("spin .6s infinite linear");
    @include transition("opacity .15s linear");
    @extend .inline-block;
    @extend .relative;
    height: 30px;
    width: 30px;
    pointer-events: none;
     &.visible {
        opacity: 1;
     }
     &:before {
      @extend .border-box;
      @extend .inline-block;
      content: "";
      width: 30px;
      height: 30px;
      border: 5px solid $font-color;
      border-right-color: transparent;
      border-left-color: transparent;
      border-radius: 100%;
    }
  }

  .label {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.list {
  @extend .block;
  @extend .relative;
  @extend .no-overflow;
  padding: 0;
  margin: 0;
}

.entry {
  @extend .no-overflow;
  @extend .row;
  background: rgba(0, 0, 0, .70);
  .side {
    overflow: hidden;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 700px;
    min-width: 700px;
  }
}

.tweet {
  @extend .border-box;
  @extend .clearfix;
  @extend .block;
  @extend .relative;
  //background-image: url(http://3.bp.blogspot.com/_uQJlFoekK9A/TP9rgKf2qPI/AAAAAAAAEDc/N9zFVO5hfQw/s1600/earth-3d.gif);
  background-position: 50%;
  background-clip: border-box;
  background-size: cover;
  padding: 30px 0;
  .overlay {
    background-color: rgba(0, 0, 0, .74);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .text {
    @extend .clearfix;
    @extend .relative;
    @extend .block;
    @extend .no-overflow;
    font-weight: 700;
    white-space: normal;
    padding: 0 3em 1em;
    text-transform: uppercase;
    a {
      @extend .border-box;
      box-sizing: border-box;
      color: inherit;
    }
    .line {
      @extend .block;
      @extend .relative;
      white-space: nowrap;
      text-align: left;
      &.inline {
        @extend .inline-block;
        @extend .relative;
        clear: none;
      }
      & > .word {
        display: inline-block;
        position: relative;
        text-shadow: 1px 1px #000000;
        &:not(:last-child) {
          margin-right: .25em;
        }
      }
    }
  }

  .footer {
    color: inherit;
    line-height: 20px;
    display: flex;
    padding: 0 3em;
    align-items: center;
    box-sizing: border-box;
    .card, .timestamp {
      z-index: 1;
    }
    .card {
      display: inline-block;
      padding: 10px;
      border: 1px solid;
      .avatar {
        @extend .no-overflow;
        @extend .absolute;
        width: 48px;
        height: 48px;
        border-radius: 3px;
        float: none;
        position: relative;
        display: inline-block;
      }
      .user {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        .username, .screenname {
          @extend .no-overflow;
          text-overflow: ellipsis;
        }
        .username {
          font-size: 18px;
        }
        .screenname {
          font-size: 14px;
        }
      }
    }
    .timestamp {
      text-transform: uppercase;
      font-size: 16px;
      text-align: right;
      display: inline-block;
      font-weight: bold;
      flex: 1;
    }
  }
}

.fork-me {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
}
