$progress-height: 4px;
$header-height: $progress-height;

body {
  &.busy {
    cursor: progress;
    .progress {
      display: block;
    }
  }
  &.error {
    .progress {
      background-color: hsla(0, 0%, 80%, 1);
      & .indeterminate {
        background-color: hsla(0, 0%, 60%, 1);
        .line1, .line2 {
          animation-play-state: paused;
        }
      }
    }
  }
}

header {
  height: $header-height;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.progress {
  @extend .no-overflow;
  @extend .border-box;
  @extend .relative;
  display: none;
  width: 100%;
  height: $progress-height;
  background-color: hsl(185, 100%, 50%);

  & .indeterminate {
    background-color: hsla(55, 100%, 50%, 1);

    .line1, .line2 {
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
    }

    .line1 {
      @include animation('indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite');
    }

    .line2 {
      @include animation('indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite');
    }
  }
}

.column {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
}

ul.list {
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex: 1;

  li.entry {
    @extend .no-overflow;
    @extend .border-box;
    @extend .relative;
    @extend .block;

    padding: 25px 15px;

    .background-overlay {
      background-position: 50%;
      background-clip: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: .25;
    }
  }
}

.tweet {
  @extend .border-box;
  @extend .clearfix;
  @extend .block;
  @extend .relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  &.rendered {
    visibility: visible;
  }

  .text, .header {
    @extend .border-box;
    @extend .block;
    @extend .relative;
    width: 100%;
  }
  .text {
    @extend .clearfix;
    @extend .relative;
    @extend .block;
    @extend .no-overflow;
    white-space: normal;
    padding: 15px;
    font-size: 20px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.20);
    border-left: 1px solid;
    text-shadow: 1px 1px #000;

    a {
      @extend .border-box;
      color: inherit;
    }
    .line {
      @extend .block;
      @extend .relative;
      white-space: nowrap;
      text-align: left;
      margin: 15px 0;

      &.inline {
        @extend .inline-block;
        @extend .relative;
        clear: none;
      }
      & > .word {
        @extend .relative;
        @extend .inline-block;
      }
    }
  }

  .header {
    cursor: default;
    display: inline-block;
    position: relative;
    color: inherit;
    padding: 0 0 10px 0;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;

    .timestamp {
      font-weight: normal;
      font-size: 14px;
      line-height: inherit;
      margin-left: 10px;
    }
  }

  a.header {
    cursor: auto;
  }
}
