$column-width: 60px;
$gutter-width: 0px;
$columns: 12;
$grid-system-width: ($column-width * $columns) + ($gutter-width * $columns);
$total-width: $grid-system-width;

body {
  @extend .clearfix;
  width: 100%;
}

@for $i from 1 to $columns {

}

@mixin row() {
  @extend .clearfix;
  display: block;
  width: $total-width * (($gutter-width + $grid-system-width) / $grid-system-width);
  margin: 0 $total-width * ((($gutter-width * .5) / $grid-system-width) * -1);
}

@mixin column($x) {
  min-height: 1px;
  display: inline;
  float: left;
  width: $total-width * (((($gutter-width + $column-width) * $x) - $gutter-width) / $grid-system-width);
  margin: 0 $total-width * (($gutter-width * .5) / $grid-system-width);
}

@mixin push($offset: 1) {
  margin-left: $total-width * ((($gutter-width + $column-width) * $offset) / $grid-system-width) + $total-width * (($gutter-width * .5) / $grid-system-width);
}

@mixin pull($offset: 1) {
  margin-right: $total-width * ((($gutter-width + $column-width) * $offset) / $grid-system-width) + $total-width * (($gutter-width * .5) / $grid-system-width);
}
